@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@font-face {
  font-family: 'Recipekorea'; /* 사용할 폰트의 이름 */
  src: url('./font/Recipekorea_Otf.otf') format('otf'), /* 폰트 파일 경로 */
       url('./font/Recipekorea_Ttf.ttf') format('ttf'); /* 다른 형식도 추가 가능 */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type='number'] {
  -moz-appearance: textfield;
}

a{text-decoration:none;}
html{font-size:62.5%;}
body{width:100%;max-width:100vw;height:auto;font-size:1.6rem}
.wrap{max-width:1200px;margin:0 auto;padding:50px 0;box-sizing:border-box;}
.tc_blue{color:#91FAD2}
.tc_yellow{color:#FAED27}

/* margin */
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}

/* Font-Size */
.fwb{font-weight:bold;}
.robot_step .small{font-size:1.6rem;}
.evi_text2{font-size:1.8rem}
.banner_text_in,.btn_banner>a,.pz_sub,.robot_step,.es_title,.my_robot_name .name,.experience_title2{font-size:2rem;}
.sub_title,.pz_main,.evi_text1,.btn_banner,.event_text,.robot_title{font-size:3rem;}
.mt_text,.program_title{font-size:5rem;}
.Recipekorea{font-family:'Recipekorea',sans-serif;}
.mt_text,.event_text,.program_title,.robot_title,.my_robot_name .name,.experience_title,.experience_title2{font-family:'Recipekorea',sans-serif}

/* button */
.btn_basic{background-color:#139BFF;color:#FFF}
.btn_white{background-color:#fff;color:#139BFF}
.btn_box{width:100%;height:100px;display:flex;justify-content:center;align-items:center;}
.btn_program_more{display:inline-block;width:20%;height:50px;line-height:50px;text-align:center;border-radius:50px;}
.btn_robot{display:inline-block;width:200px;height:50px;line-height:50px;text-align:center;border-radius:50px}
.btn_robot:first-child{margin:0 10px 0 0}

/* main_title */
.main_title{display:flex;justify-content:center;align-items:center;margin-bottom:50px;}
.mt_img{display:inline-block;width:100px;height:100px;line-height:100px}
.mt_text{width:auto;height:30px;line-height:30px;margin:0 20px;color:#91FAD2}

/* main */
.main{width:100%;height:100%;background:url('./images/banner_main.png') no-repeat center center / cover;overflow:hidden;}
header.wrap{width:100%;height:80px;line-height:80px;display:flex;justify-content:space-between;align-items:center;padding:0}
.logo{display:inline-block;width:100%;height:50px;line-height:50px;}
.logo>img{width:100%;height:auto;object-fit:contain;}
nav>a{color:#fff;margin:0 0 0 20px}
.sub_title{width:100%;height:50px;line-height:50px;text-align:center;font-weight:bold;border-top:1px solid #fff;border-bottom:1px solid #fff;padding:10px 0;margin:0 0 20px 0}
.banner{width:100%;height:600px;display:flex;justify-content:space-between;position:relative}
.banner_content{width:100%;max-width:562px;position:absolute;z-index:1;}
.banner_text_in{width:100%;height:auto;line-height:30px;display:flex;}
.ic_banner{width:30px;height:30px;line-height:30px;text-align:center;}
.bti_title{width:50px;text-align:center;}
.banner_img{position:absolute;right:-10%;bottom:0;width:70%}
.btn_banner{width:100%;height:100px;line-height:100px;margin:20px 0;text-align:center;}
.btn_banner>a{display:inline-block;width:50%;height:80px;line-height:80px;text-align:center;color:#139Bff;background:#fff;border-radius:50px}
.tc_yellow br{display:none;}

/* evet_overlay*/
.event_overlay{width:100%;height:100%;max-height:797px;background:url('./images/eventoverlay.png') no-repeat center center / cover}
.event_overlay_in{display:flex;justify-content:space-evenly;width:100%;height:300px;}
.evi_img{border-radius:50px;overflow:hidden;width:auto;}
.evi_img>img{display:inline-block;width:100%;height:100%;}
.evi_text{width:50%;color:#fff;text-align:center;padding:20px 0;box-sizing:border-box;height:auto;line-height:30px;}
.evi_text1{display:inline-block;margin:0 0 20px 0;}
.evi_point{color:#91FAD2;font-weight:bold;}

/* between_img */
.between_img{width:100%;height:150px;overflow:hidden;}
.between_img>img{display:inline-block;width:100%}

/* program */
.program_title{text-align:center;padding:0 0 50px 0;box-sizing:border-box;color:#139BFF;font-weight:bold;border-bottom:1px solid #139BFF;}
.program_zone{display:flex;justify-content:center;align-items:center;margin:50px 0;}
.program_zone>img{width:10%;height:auto;margin:0 20px}
.pz_main{margin:0 0 10px 0;color:#6765D8}
.pz_sub{width:auto;height:30px;line-height:30px}

/* table */
table{width:100%;text-align:center}
table tr{height:50px}
table tr:nth-child(even){background-color:#D0F2E2}
table tr td{vertical-align:middle;border:1px solid #e5e7eb}
table tr td.border_none{border:none}
.bg{background-color:#D0F2E2}
table tr.bg_none{background-color:transparent;}
table tr.title:nth-child(even){background-color:#91F9D2;}

/* event */
.event{width:100%;height:100%;background:url('./images/eventoverlay.png') no-repeat center center / cover, rgba(0,0,0,0.5)}
.event_box{text-align:center;}
.event_title{display:inline-block;background:#91F9D2;width:auto;min-width:20%;padding:20px;box-sizing:border-box;border-radius:50px;text-align:center;font-weight:bold;margin:0 auto}
.event_text{margin:30px 0;color:#fff}
.robot{width:100%;margin:0 0 50px 0}
.robot_step{text-align:left;color:#fff}
.robot_step_in{display:flex;justify-content:left;height:auto;line-height:30px;;;}
.robot_step_in .step{color:#91F9D2;font-weight:bold;margin:0 10px 0 0}`

a{text-decoration:none;}
html{font-size:62.5%;}
body{width:100%;max-width:100vw;height:auto;font-size:1.6rem}
.wrap{max-width:1200px;margin:0 auto;padding:50px 0;box-sizing:border-box;}
.tc_blue{color:#91FAD2}
.tc_yellow{color:#FAED27}

/* margin */
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}

/* Font-Size */
.fwb{font-weight:bold;}
.robot_step .small{font-size:1.6rem;}
.evi_text2{font-size:1.8rem}
.banner_text_in,.btn_banner>a,.pz_sub,.robot_step{font-size:2rem;}
.sub_title,.pz_main,.evi_text1,.btn_banner,.event_text{font-size:3rem;}
.mt_text,.program_title,.experience_title{font-size:5rem;}

/* button */
.btn_grye{background-color:#999;color:#FFF}
.btn_basic{background-color:#139BFF;color:#FFF}
.btn_box{width:100%;height:100px;display:flex;justify-content:center;align-items:center;}
.btn_program_more{display:inline-block;width:20%;height:50px;line-height:50px;text-align:center;border-radius:50px;}

/* main_title */
.main_title{display:flex;justify-content:center;align-items:flex-end;margin-bottom:50px;}
.mt_img{display:inline-block;width:100px;height:100px;line-height:100px}
.mt_text{width:auto;height:50px;line-height:50px;margin:0 20px;color:#91FAD2}

/* main */
.main{width:100%;height:100%;background:url('./images/banner_main.png') no-repeat center center / cover;overflow:hidden;}
header{width:100%;height:80px;line-height:80px;display:flex;justify-content:space-between;align-items:center}
.logo{display:inline-block;width:auto;height:50px;line-height:50px;}
.logo>img{width:100%;height:100%;}
nav>a{color:#fff;margin:0 0 0 20px}
.sub_title{width:100%;height:50px;line-height:50px;text-align:center;font-weight:bold;border-top:1px solid #fff;border-bottom:1px solid #fff;padding:10px 0;margin:0 0 20px 0}
.banner{width:100%;height:600px;display:flex;justify-content:space-between;position:relative}
.banner_content{width:100%;max-width:562px;position:absolute;z-index:1;}
.banner_text_in{width:100%;height:auto;line-height:30px;display:flex;}
.ic_banner{width:30px;height:30px;line-height:30px;text-align:center;}
.bti_title{width:50px;text-align:center;}
.banner_img{position:absolute;right:-10%;bottom:0;width:70%}
.btn_banner{width:100%;height:100px;line-height:100px;margin:20px 0;text-align:center;}
.btn_banner>a{display:inline-block;width:50%;height:80px;line-height:80px;text-align:center;color:#139Bff;background:#fff;border-radius:50px}

/* evet_overlay*/
.event_overlay{width:100%;height:100%;max-height:797px;background:url('./images/eventoverlay.png') no-repeat center center / cover}
.event_overlay_in{display:flex;justify-content:space-evenly;align-items:center;width:100%;height:auto;}
.evi_img{border-radius:20px;overflow:hidden;width:500px;}
.evi_img>img{display:inline-block;width:100%;height:100%;}
.evi_text{width:50%;color:#fff;text-align:center;padding:20px 0;box-sizing:border-box;height:auto;line-height:30px;}
.evi_text1{display:inline-block;margin:0 0 20px 0;}
.evi_point{color:#91F9D2;display:inline-block;}

/* between_img */
.between_img{width:100%;height:150px;overflow:hidden;}
.between_img>img{display:inline-block;width:100%}

/* program */
.program_title{text-align:center;padding:0 0 50px 0;box-sizing:border-box;color:#139BFF;border-bottom:1px solid #139BFF;}
.program_zone{display:flex;justify-content:center;align-items:center;margin:50px 0;}
.program_zone>img{width:10%;height:auto;margin:0 20px}
.pz_main{margin:0 0 10px 0;color:#6765D8}
.pz_sub{width:auto;height:30px;line-height:30px}

/* table */
table{width:100%;text-align:center}
table tr{height:50px}
table tr:nth-child(even){background-color:#D0F2E2}
table tr td{vertical-align:middle;border:1px solid #e5e7eb;padding:5px;;}
table tr td.border_none{border:none}
.bg{background-color:#D0F2E2}
table tr.bg_none{background-color:transparent;}
table tr.title:nth-child(even){background-color:#91F9D2;}

.table{width:100%;overflow:auto;}
.table table{white-space:nowrap;border-collapse:collapse;}

/* event */
.event{width:100%;height:100%;background:url('./images/eventoverlay.png') no-repeat center center / cover, rgba(0,0,0,0.5)}
.event_box{text-align:center;}
.event_title{display:inline-block;background:#91F9D2;width:auto;min-width:20%;height:50px;line-height:50px;padding:0 20px;box-sizing:border-box;border-radius:50px;text-align:center;font-weight:bold;margin:0 auto}
.event_text{height:50px;line-height:50px;margin:30px 0;color:#fff}
.robot{width:100%;margin:0 0 50px 0}
.event_robot .robot_step{height:auto;line-height:30px;text-align:left;color:#fff;margin:0}
.robot_step_box{width:100%;max-width:700px;margin:0 auto 20px auto;}
.robot_step_in{display:flex;justify-content:left;height:auto;line-height:30px;;;}
.robot_step_in .step{color:#91F9D2;font-weight:bold;margin:0 10px 0 0}
.event_ic{width:20%;}
.event_step{width:80%;height:auto;display:flex;justify-content:space-between;margin:20px auto;align-items:center;}
.es_step{width:45%;height:auto;background-color:#fff;border:1px solid #91F9D2;padding:50px 10px; box-sizing:border-box;border-radius:10px;}
.es_step_img{width:200px;height:200px;margin:0 auto 20px;display:inline-block;}
.es_step_img.step2{background-color:#91F9D2;border-radius:50%;}
.es_step_img.step2 img{display:inline-block;width:auto;height:200px;}
.es_icon{width:10%;color:#91F9D2;display:inline-block;}
.es_step2{width:45%}
.es_title{font-weight:bold;margin:0 0 20px 0;}
.es_text{line-height:25px;}
.es_icon{font-size:50px;}

/* program - sub */
.all_program{width:100%}

/* robot */
.robot_in{background-color:#000;width:100%;height:100%;min-height:calc(100vh - 80px);}
.robot_in .wrap{height:100%;padding:10px;}
.robot_title{color:#fff;text-align:center;margin:50px 0 0 0;}
.robot_preview{width:50%;position:relative;left:50%;top:0;transform:translate(-50%,0);margin:30px 0 0 0}
.robot_bg{width:100%;height:300px;object-fit: contain;}
.robot_img{position:absolute;bottom:20px;left:50%;height:200px;}
.robot_step{width:100%;height:200px;object-fit:contain;margin:50px 0 0 0 }
.robot_name_input{width:fit-content;margin:20px auto;display:flex;justify-content: center;}
.robot_name_input>input{width:300px;height:50px;line-height:50px;display:inline-block;border-radius:5px;box-sizing:border-box;outline:none;padding:0 10px;border:1px solid #91F9D2}
.robot_name_input>input::placeholder{text-align:center;}
.robot_name_input>a{display:inline-block;width:100px;height:50px;line-height:50px;background-color:#91F9D2;text-align:center;margin:0 0 0 10px;border-radius:5px;color:#000;font-weight:bold;}
.my_robot_name{width:fit-content;display:none;justify-content:center;margin:20px auto;}
.my_robot_name .lv{width:auto;text-align:center;color:#91F9D2;border:1px solid #91F9D2;padding:10px 20px;box-sizing:border-box;border-radius:50px;font-weight:bold;margin:0 20px 0 0;}
.my_robot_name .name{font-weight:bold;color:#fff;line-height:38px;}
.btn_reset{color:#f2f2f2;font-size:20px;margin:0 0 0 20px;line-height:30px;}
.btn_reset_box{display:flex;align-items:center;}

/* expeience */
.expeience_body{width:100vw;height:100vh;background-color:#000;;}
.expeience_body .wrap{display:flex;justify-content:center;align-items:center;flex-direction: column}
.experience_title2{color:#fff;margin:20px 0 0 0}
.code_input_box{margin:20px 0}
.code_input{display:inline-block;width:50px;height:50px;line-height:50px;border-radius:5px;outline:none;text-align:center;font-size:40px;font-weight:bold;}
.experience_robot{width:300px;display:flex;align-items:center;height:300px;;justify-content: center}
.experience_robot>.robot{display:inline-block;width:fit-content;height:50%;object-fit:contain;margin:0}
.experience_robot>.arrow{margin:0 50px}

/* 노트북 & 태블릿 가로 (해상도 1024px ~ 1279px)*/ 
@media all and (min-width:1024px) and (max-width:1279px) {
  header.wrap{padding:0 20px;}
  .wrap{padding:50px 20px;}
  .banner{padding:50px 20px}
  .event_overlay{max-height:fit-content}
  .event_box{padding:0 0 50px 0;}
  .evi_img{width:300px;height:auto}
  .evi_img img{object-fit:contain;}
  .evi_text{width:calc(100% - 500px)}
} 

/* 태블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
    header.wrap{padding:0 20px;}
  .wrap{padding:50px 20px;}
  .banner{padding:50px 20px}
  .event_overlay{max-height:fit-content}
  .event_box{padding:0 0 50px 0;}
  .evi_img{width:300px;height:auto}
  .evi_img img{object-fit:contain;}
  .evi_text{width:calc(100% - 500px)}
  .banner_content{left: 50%;transform: translate(-50%);}
  .banner_img{right:0;bottom:20px;opacity:50%;;}
  .event_overlay_in{flex-direction: column}
  .evi_text{width:100%;}
  .event_step{width:100%;}
  .robot_img{bottom:10%}
  
} 

/* 모바일 가로 & 태블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {

} 

/* 모바일 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
}

/* 모바일 가로 & 태블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:320px) and (max-width:767px) {

  .experience_title2{font-size:1.5rem;}
  .robot_step .small{font-size:1.6rem;}
  .evi_text2{font-size:1.7rem}
  .banner_text_in,.btn_banner>a,.pz_sub,.robot_step,.es_title,.my_robot_name .name{font-size:1.8rem;}
  .sub_title,.pz_main,.evi_text1,.btn_banner,.event_text,.robot_title{font-size:1.9rem;}
  .mt_text,.program_title{font-size:3rem;}

  .wrap{padding:20px}
  header.wrap{height:auto;flex-direction: column;padding:20px 0;}
  nav{height:50px;line-height:50px;;}
  .banner{height:auto}
  .banner_content{max-width:none;position:static;}
  .banner_content img{width:100%;}
  .banner_img{right:0}

  .event_step{margin:0;flex-direction: column;width:100%}
  .es_step{width:100%;}
  .ic_banner{display:none;}
  .banner_text_in{flex-direction:column;text-align:center;margin: 20px 0 0 0}
  .bti_title{font-weight:bold;width:100%}

  .btn_banner{;height:50px;line-height:50px;;}
  .btn_banner>a{width:100%;height:50px;line-height:50px;;}

  .banner_img{width:100%;opacity:30%;}

  .event_overlay{max-height:none;}
  .event_overlay_in{flex-direction:column;}

  .evi_img{width:100%;}
  .evi_text{width:100%;letter-spacing:-1px;}


  .between_img {height:50px}
  .banner.wrap{padding:0 20px;;}
  .program_zone{flex-direction:column;}
  
  .program_zone>img{width:30%;margin:0 0 20px 0;}
  
  .pz_main{height:auto;text-align:center;}
  .pz_sub{height:auto;text-align:center;}
  .program_title{padding:0 0 30px 0;}
  
  .program_zone{margin:20px 0 }
  
  .btn_program_more{width:100%;}
  
  .event_title{width:100%;margin:0 0 20px 0}
  .robot_step_in{flex-direction:column;margin:0 0 20px 0}

  .es_icon{display:none;}

  .es_step{margin:20px 0 0 0 }

  .event_text{margin:0}

  .robot_bg{width:100%;height:auto;;}
  .robot_preview{width:100%}

  .robot_step{margin:20px 0 0 0}

  .robot_name_input>input{width:260px}
  .robot_name_input>a{width:85px}

  .code_input{width:45px;height:45px;}

  .experience_robot{height:auto;}
} 